.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  border: solid black;
}

.gridRow {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  background-color: white;
}
